:root{
    --cor1: #E2CE1A;
    --cor2: #36320A;
    --cor3: #FEFAA1;
}
body{
    padding: 100px;
    background-color: var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--cor2);
}
table, th, td {
    border: 2px solid black;
}
table{
    text-align: center;
    width: 800px;
}
th{
    background-color: var(--cor2);
    color: var(--cor1);
}
td{
    background-color: var(--cor3);
    color: var(--cor2);
}
a{
    color: black;
}
